src/*.exe
src/fellatio
src/fellatiod
src/test_fellatio
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.fellatio

# Compilation and Qt preprocessor part
*.qm
Makefile
fellatio-qt
Fellatio-Qt.app

# Unit-tests
Makefile.test
fellatio-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
